body{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
.wrapper{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    border: 1px solid black;/* почему без границы wrapper смещается*/
    background-image: url('../images/background.png');
}
header{
    width: 1066px;
    height: 45px;
    margin: 49px auto 45px;
}
a{
    display: block;
    text-decoration: none;
    color: white;
}
.logo{
    position: relative;
}
.logo img{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
.logo img.first{
    opacity: 1;
}
.logo:hover img.first{
    opacity: 0;
}
.logo img.second{
    opacity: 0;
}
.logo:hover img.second{
    opacity: 1;
}
.site-name{
    float: left;
    margin-left: 59px;
}
div.site-name a:hover{
    color: #F26522;
}
.milan{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}
.holiday{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.contacts{
    float: right;
    font-size: 18px;
    line-height: 24px;
}
main{
    width: 1066px;
    margin: 0 auto;
    overflow: hidden;
}
div.image{
    float: left;
    width: 29.2%;
    margin-right: 6%;
    margin-bottom: 35px;
    /*box-sizing: border-box;*/
}
.image:nth-child(3n){
    margin-right: 0;
}
.wrapper-background {
    position: relative;
    width: 307px;
    padding: 2px;
    background: linear-gradient(to top, #0E0903, #FFFFFF) 1% 100%;
}
div.image img{
    display: block;
    width: 100%;
}
div.image p{
    color:white;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}
div.image:hover p{
    color:#F26522;
}
.info{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #F26522;
    bottom: 0;
    left: 0;
    transition: height 0.75s;
    overflow: hidden;
}
div.image:hover .info{
    height: 65px;
}
.price{
    float: left;
    margin: 3px 0  0 20px;
    font-size: 20px;
}
.price span{
    font-size: 10px;
}
.view{
    float: right;
    margin: 30px 20px 15px 0;
    font-size: 14px;
}
.view:after{
    content: '\003E';
}
footer{
    color: white;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}








